.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
  }
  
  .centered-content {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff; /* Cambia el color del botón según tus preferencias */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; /* Cambia el color cuando el botón se encuentra en estado hover */
  }
  