.pantalla-donar-container{
  display: flex;
  flex-direction: row;
}
.pantalla-donar{
  flex: 4;
}
.formulario-donar{
  flex: 1;
}
.explicacion{
  font-size: 35px;
  color: whitesmoke;
}
.titulo{
  color: white;
}
.img-banner{
  width: 100%;
  height: 400px;
  object-fit: none;
}
/* Estilos para el formulario de donación */
.formulario-donar {
  background-color: #28a745;
  padding: 20px;
  height: calc(100vh - 84px);
}
.TituloDonacion{
  color: white;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}


.formulario-donar form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-donar .campo {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.formulario-donar label {
  font-weight: bold;
}

.formulario-donar button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  margin-top: 40px;
}

.formulario-donar button:hover {
  background-color: #1e4b1e;
}


.contenido{
  margin: 1rem 3rem;
}