.pantalla-donar-container{
  display: flex;
  flex-direction: row;
}
.pantalla-donar{
  flex: 4;
}
.formulario-donar{
  flex: 1;
}
.img-banner{
  width: 100%;
  height: 300px;
  object-fit: none;
  box-shadow: 5px 0px 10px black;
}
/* Estilos para el formulario de donación */
.formulario-donar {
  background-color: #9e9e9e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 84px);
}

.formulario-donar h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.formulario-donar form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-donar .campo {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.formulario-donar label {
  font-weight: bold;
}

.formulario-donar button {
  background-color: #337033;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario-donar button:hover {
  background-color: #1e4b1e;
}


.contenido{
  margin: 1rem 3rem;
}